[submodule "3rd/CodeBox"]
	path = 3rd/CodeBox
	url = https://github.com/realn/CodeBox
[submodule "3rd/glm"]
	path = 3rd/glm
	url = https://github.com/g-truc/glm
[submodule "3rd/SDL"]
	path = 3rd/SDL
	url = https://github.com/SDL-mirror/SDL
